/* ------------------------------------------------------------------ SOCIAL */
audio[controls],
canvas,
video {
  display: inline-block;
  zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

hr {
  box-sizing: content-box;
  height: 0; }

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  text-rendering: optimizeLegibility;
  width: 100%; }

* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }
  *:disabled {
    cursor: not-allowed; }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

table,
table td {
  border-collapse: collapse; }

img {
  align-self: start;
  max-width: 100%; }

* {
  font-family: sans-serif;
  font-size: 16px; }

.background {
  align-items: center;
  background-color: #ccd0d3;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%; }

.game-wrapper,
.game {
  display: flex;
  height: 100%;
  max-height: 768px;
  max-width: 1366px;
  width: 100%; }

.game-wrapper {
  box-shadow: inset 0px 0px 0px 1px #1100ff;
  overflow: hidden;
  position: relative; }

.game {
  box-shadow: inset 0px 0px 0px 1px #dd1717;
  left: 0;
  position: absolute;
  top: 0; }

.map {
  display: flex;
  flex-wrap: wrap;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1; }

.interface {
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3; }
  .interface__bar, .interface__directional, .interface__action {
    display: flex;
    padding: 10px;
    position: absolute; }
  .interface__bar {
    flex-direction: column;
    left: 0;
    top: 0; }
  .interface__directional {
    bottom: 0;
    flex-direction: column;
    left: 0; }
  .interface__action {
    bottom: 0;
    flex-direction: row;
    right: 0; }

.tile {
  display: inline-flex;
  height: 50px;
  width: 50px; }
  .tile--0 {
    background-color: #1f8d4e; }
  .tile--1 {
    background-color: #2dcc70; }
  .tile--2 {
    background-color: #68de99; }

.player {
  background-color: #e14b4a;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2; }

* {
  opacity: .75; }
