<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=5,user-scalable=yes,width=device-width">
    <meta name="description" content="Open Source Adventure Game" />
    <meta name="author" content="Open Source Adventure" />
    <meta name="keywords" content="game, open source, github, html, css, javascript" />
    <title>Open Source Adventure</title>
    <link rel="shortcut icon" href="./assets/img/logo/favicon.png">

    <link href="./assets/css/theme.css" rel="stylesheet">
    <script type="module">
        import * as osa from './assets/js/theme.js';
    </script>
</head>

<body>
    {% include "include/loading-main.html" %}
    <main class="background">
        <div class="game-wrapper">
            {% include "include/modal.html" %}
            <div class="game" id="game">
                <section class="interface">
                    <div class="interface__bar">
                        {% include "include/interface-bar.html" %}
                    </div>
                    <div class="interface__action">
                        {% include "include/interface-action.html" %}
                    </div>
                    <div class="interface__directional">
                        {% include "include/interface-directional.html" %}
                    </div>
                </section>
                <div id="camera" class="camera">
                    <div id="player" class="player tile"></div>
                    <div id="enemy"></div>
                    <div id="resource"></div>
                    <section id="terrain" class="map"></section>
                </div>
            </div>
        </div>
    </main>
</body>

</html>