$arrColorDefault: black blue brown cyan green grey orange pink purple red white yellow;

$color-black: #000000;
$color-blue: #34859d;
$color-brown: #9a6348;
$color-cyan: #7ec4c1;
$color-green: #647e35;
$color-grey: #cccccc;
$color-orange: #e4943a;
$color-pink: #d26471;
$color-purple: #70377f;
$color-red: #9d303b;
$color-white: #ffffff;
$color-yellow: #f5edba;

$color-facebook: #3b5998;
$color-instagram: #125688;
$color-linkedin: #007bb5;
$color-pinterest: #cb2027;
$color-twitter: #55acee;
$color-youtube: #bb0000;

$color-text: $color-black;

$scale: 5%;

$multiply-1: $scale;
$multiply-2: $scale * 2;
$multiply-3: $scale * 3;
$multiply-4: $scale * 4;
$multiply-5: $scale * 5;
$multiply-6: $scale * 6;
$multiply-7: $scale * 7;
$multiply-8: $scale * 8;
$multiply-9: $scale * 9;
$multiply-10: $scale * 10;
$multiply-11: $scale * 11;
$multiply-12: $scale * 12;
$multiply-13: $scale * 13;
$multiply-14: $scale * 14;
$multiply-15: $scale * 15;
$multiply-16: $scale * 16;
$multiply-17: $scale * 17;
$multiply-18: $scale * 18;
$multiply-19: $scale * 19;
$multiply-20: $scale * 20;



$color-grey-light-1: lighten($color-grey, $multiply-1);
$color-grey-light-2: lighten($color-grey, $multiply-2);
$color-grey-light-3: lighten($color-grey, $multiply-3);
$color-grey-light-4: lighten($color-grey, $multiply-4);
$color-grey-light-5: lighten($color-grey, $multiply-5);
$color-grey-light-6: lighten($color-grey, $multiply-6);
$color-grey-light-7: lighten($color-grey, $multiply-7);
$color-grey-light-8: lighten($color-grey, $multiply-8);
$color-grey-light-9: lighten($color-grey, $multiply-9);
$color-grey-light-10: lighten($color-grey, $multiply-10);
$color-grey-light-11: lighten($color-grey, $multiply-11);
$color-grey-light-12: lighten($color-grey, $multiply-12);
$color-grey-light-13: lighten($color-grey, $multiply-13);
$color-grey-light-14: lighten($color-grey, $multiply-14);
$color-grey-light-15: lighten($color-grey, $multiply-15);
$color-grey-light-16: lighten($color-grey, $multiply-16);
$color-grey-light-17: lighten($color-grey, $multiply-17);
$color-grey-light-18: lighten($color-grey, $multiply-18);
$color-grey-light-19: lighten($color-grey, $multiply-19);
$color-grey-light-20: lighten($color-grey, $multiply-20);
$color-grey-dark-1: darken($color-grey, $multiply-1);
$color-grey-dark-2: darken($color-grey, $multiply-2);
$color-grey-dark-3: darken($color-grey, $multiply-3);
$color-grey-dark-4: darken($color-grey, $multiply-4);
$color-grey-dark-5: darken($color-grey, $multiply-5);
$color-grey-dark-6: darken($color-grey, $multiply-6);
$color-grey-dark-7: darken($color-grey, $multiply-7);
$color-grey-dark-8: darken($color-grey, $multiply-8);
$color-grey-dark-9: darken($color-grey, $multiply-9);
$color-grey-dark-10: darken($color-grey, $multiply-10);
$color-grey-dark-11: darken($color-grey, $multiply-11);
$color-grey-dark-12: darken($color-grey, $multiply-12);
$color-grey-dark-13: darken($color-grey, $multiply-13);
$color-grey-dark-14: darken($color-grey, $multiply-14);
$color-grey-dark-15: darken($color-grey, $multiply-15);
$color-grey-dark-16: darken($color-grey, $multiply-16);
$color-grey-dark-17: darken($color-grey, $multiply-17);
$color-grey-dark-18: darken($color-grey, $multiply-18);
$color-grey-dark-19: darken($color-grey, $multiply-19);
$color-grey-dark-20: darken($color-grey, $multiply-20);

$color-blue-light-1: lighten($color-blue, $multiply-1);
$color-blue-light-2: lighten($color-blue, $multiply-2);
$color-blue-light-3: lighten($color-blue, $multiply-3);
$color-blue-light-4: lighten($color-blue, $multiply-4);
$color-blue-light-5: lighten($color-blue, $multiply-5);
$color-blue-light-6: lighten($color-blue, $multiply-6);
$color-blue-light-7: lighten($color-blue, $multiply-7);
$color-blue-light-8: lighten($color-blue, $multiply-8);
$color-blue-light-9: lighten($color-blue, $multiply-9);
$color-blue-light-10: lighten($color-blue, $multiply-10);
$color-blue-light-11: lighten($color-blue, $multiply-11);
$color-blue-light-12: lighten($color-blue, $multiply-12);
$color-blue-light-13: lighten($color-blue, $multiply-13);
$color-blue-light-14: lighten($color-blue, $multiply-14);
$color-blue-light-15: lighten($color-blue, $multiply-15);
$color-blue-light-16: lighten($color-blue, $multiply-16);
$color-blue-light-17: lighten($color-blue, $multiply-17);
$color-blue-light-18: lighten($color-blue, $multiply-18);
$color-blue-light-19: lighten($color-blue, $multiply-19);
$color-blue-light-20: lighten($color-blue, $multiply-20);
$color-blue-dark-1: darken($color-blue, $multiply-1);
$color-blue-dark-2: darken($color-blue, $multiply-2);
$color-blue-dark-3: darken($color-blue, $multiply-3);
$color-blue-dark-4: darken($color-blue, $multiply-4);
$color-blue-dark-5: darken($color-blue, $multiply-5);
$color-blue-dark-6: darken($color-blue, $multiply-6);
$color-blue-dark-7: darken($color-blue, $multiply-7);
$color-blue-dark-8: darken($color-blue, $multiply-8);
$color-blue-dark-9: darken($color-blue, $multiply-9);
$color-blue-dark-10: darken($color-blue, $multiply-10);
$color-blue-dark-11: darken($color-blue, $multiply-11);
$color-blue-dark-12: darken($color-blue, $multiply-12);
$color-blue-dark-13: darken($color-blue, $multiply-13);
$color-blue-dark-14: darken($color-blue, $multiply-14);
$color-blue-dark-15: darken($color-blue, $multiply-15);
$color-blue-dark-16: darken($color-blue, $multiply-16);
$color-blue-dark-17: darken($color-blue, $multiply-17);
$color-blue-dark-18: darken($color-blue, $multiply-18);
$color-blue-dark-19: darken($color-blue, $multiply-19);
$color-blue-dark-20: darken($color-blue, $multiply-20);

$color-green-light-1: lighten($color-green, $multiply-1);
$color-green-light-2: lighten($color-green, $multiply-2);
$color-green-light-3: lighten($color-green, $multiply-3);
$color-green-light-4: lighten($color-green, $multiply-4);
$color-green-light-5: lighten($color-green, $multiply-5);
$color-green-light-6: lighten($color-green, $multiply-6);
$color-green-light-7: lighten($color-green, $multiply-7);
$color-green-light-8: lighten($color-green, $multiply-8);
$color-green-light-9: lighten($color-green, $multiply-9);
$color-green-light-10: lighten($color-green, $multiply-10);
$color-green-light-11: lighten($color-green, $multiply-11);
$color-green-light-12: lighten($color-green, $multiply-12);
$color-green-light-13: lighten($color-green, $multiply-13);
$color-green-light-14: lighten($color-green, $multiply-14);
$color-green-light-15: lighten($color-green, $multiply-15);
$color-green-light-16: lighten($color-green, $multiply-16);
$color-green-light-17: lighten($color-green, $multiply-17);
$color-green-light-18: lighten($color-green, $multiply-18);
$color-green-light-19: lighten($color-green, $multiply-19);
$color-green-light-20: lighten($color-green, $multiply-20);
$color-green-dark-1: darken($color-green, $multiply-1);
$color-green-dark-2: darken($color-green, $multiply-2);
$color-green-dark-3: darken($color-green, $multiply-3);
$color-green-dark-4: darken($color-green, $multiply-4);
$color-green-dark-5: darken($color-green, $multiply-5);
$color-green-dark-6: darken($color-green, $multiply-6);
$color-green-dark-7: darken($color-green, $multiply-7);
$color-green-dark-8: darken($color-green, $multiply-8);
$color-green-dark-9: darken($color-green, $multiply-9);
$color-green-dark-10: darken($color-green, $multiply-10);
$color-green-dark-11: darken($color-green, $multiply-11);
$color-green-dark-12: darken($color-green, $multiply-12);
$color-green-dark-13: darken($color-green, $multiply-13);
$color-green-dark-14: darken($color-green, $multiply-14);
$color-green-dark-15: darken($color-green, $multiply-15);
$color-green-dark-16: darken($color-green, $multiply-16);
$color-green-dark-17: darken($color-green, $multiply-17);
$color-green-dark-18: darken($color-green, $multiply-18);
$color-green-dark-19: darken($color-green, $multiply-19);
$color-green-dark-20: darken($color-green, $multiply-20);

$color-cyan-light-1: lighten($color-cyan, $multiply-1);
$color-cyan-light-2: lighten($color-cyan, $multiply-2);
$color-cyan-light-3: lighten($color-cyan, $multiply-3);
$color-cyan-light-4: lighten($color-cyan, $multiply-4);
$color-cyan-light-5: lighten($color-cyan, $multiply-5);
$color-cyan-light-6: lighten($color-cyan, $multiply-6);
$color-cyan-light-7: lighten($color-cyan, $multiply-7);
$color-cyan-light-8: lighten($color-cyan, $multiply-8);
$color-cyan-light-9: lighten($color-cyan, $multiply-9);
$color-cyan-light-10: lighten($color-cyan, $multiply-10);
$color-cyan-light-11: lighten($color-cyan, $multiply-11);
$color-cyan-light-12: lighten($color-cyan, $multiply-12);
$color-cyan-light-13: lighten($color-cyan, $multiply-13);
$color-cyan-light-14: lighten($color-cyan, $multiply-14);
$color-cyan-light-15: lighten($color-cyan, $multiply-15);
$color-cyan-light-16: lighten($color-cyan, $multiply-16);
$color-cyan-light-17: lighten($color-cyan, $multiply-17);
$color-cyan-light-18: lighten($color-cyan, $multiply-18);
$color-cyan-light-19: lighten($color-cyan, $multiply-19);
$color-cyan-light-20: lighten($color-cyan, $multiply-20);
$color-cyan-dark-1: darken($color-cyan, $multiply-1);
$color-cyan-dark-2: darken($color-cyan, $multiply-2);
$color-cyan-dark-3: darken($color-cyan, $multiply-3);
$color-cyan-dark-4: darken($color-cyan, $multiply-4);
$color-cyan-dark-5: darken($color-cyan, $multiply-5);
$color-cyan-dark-6: darken($color-cyan, $multiply-6);
$color-cyan-dark-7: darken($color-cyan, $multiply-7);
$color-cyan-dark-8: darken($color-cyan, $multiply-8);
$color-cyan-dark-9: darken($color-cyan, $multiply-9);
$color-cyan-dark-10: darken($color-cyan, $multiply-10);
$color-cyan-dark-11: darken($color-cyan, $multiply-11);
$color-cyan-dark-12: darken($color-cyan, $multiply-12);
$color-cyan-dark-13: darken($color-cyan, $multiply-13);
$color-cyan-dark-14: darken($color-cyan, $multiply-14);
$color-cyan-dark-15: darken($color-cyan, $multiply-15);
$color-cyan-dark-16: darken($color-cyan, $multiply-16);
$color-cyan-dark-17: darken($color-cyan, $multiply-17);
$color-cyan-dark-18: darken($color-cyan, $multiply-18);
$color-cyan-dark-19: darken($color-cyan, $multiply-19);
$color-cyan-dark-20: darken($color-cyan, $multiply-20);

$color-orange-light-1: lighten($color-orange, $multiply-1);
$color-orange-light-2: lighten($color-orange, $multiply-2);
$color-orange-light-3: lighten($color-orange, $multiply-3);
$color-orange-light-4: lighten($color-orange, $multiply-4);
$color-orange-light-5: lighten($color-orange, $multiply-5);
$color-orange-light-6: lighten($color-orange, $multiply-6);
$color-orange-light-7: lighten($color-orange, $multiply-7);
$color-orange-light-8: lighten($color-orange, $multiply-8);
$color-orange-light-9: lighten($color-orange, $multiply-9);
$color-orange-light-10: lighten($color-orange, $multiply-10);
$color-orange-light-11: lighten($color-orange, $multiply-11);
$color-orange-light-12: lighten($color-orange, $multiply-12);
$color-orange-light-13: lighten($color-orange, $multiply-13);
$color-orange-light-14: lighten($color-orange, $multiply-14);
$color-orange-light-15: lighten($color-orange, $multiply-15);
$color-orange-light-16: lighten($color-orange, $multiply-16);
$color-orange-light-17: lighten($color-orange, $multiply-17);
$color-orange-light-18: lighten($color-orange, $multiply-18);
$color-orange-light-19: lighten($color-orange, $multiply-19);
$color-orange-light-20: lighten($color-orange, $multiply-20);
$color-orange-dark-1: darken($color-orange, $multiply-1);
$color-orange-dark-2: darken($color-orange, $multiply-2);
$color-orange-dark-3: darken($color-orange, $multiply-3);
$color-orange-dark-4: darken($color-orange, $multiply-4);
$color-orange-dark-5: darken($color-orange, $multiply-5);
$color-orange-dark-6: darken($color-orange, $multiply-6);
$color-orange-dark-7: darken($color-orange, $multiply-7);
$color-orange-dark-8: darken($color-orange, $multiply-8);
$color-orange-dark-9: darken($color-orange, $multiply-9);
$color-orange-dark-10: darken($color-orange, $multiply-10);
$color-orange-dark-11: darken($color-orange, $multiply-11);
$color-orange-dark-12: darken($color-orange, $multiply-12);
$color-orange-dark-13: darken($color-orange, $multiply-13);
$color-orange-dark-14: darken($color-orange, $multiply-14);
$color-orange-dark-15: darken($color-orange, $multiply-15);
$color-orange-dark-16: darken($color-orange, $multiply-16);
$color-orange-dark-17: darken($color-orange, $multiply-17);
$color-orange-dark-18: darken($color-orange, $multiply-18);
$color-orange-dark-19: darken($color-orange, $multiply-19);
$color-orange-dark-20: darken($color-orange, $multiply-20);

$color-red-light-1: lighten($color-red, $multiply-1);
$color-red-light-2: lighten($color-red, $multiply-2);
$color-red-light-3: lighten($color-red, $multiply-3);
$color-red-light-4: lighten($color-red, $multiply-4);
$color-red-light-5: lighten($color-red, $multiply-5);
$color-red-light-6: lighten($color-red, $multiply-6);
$color-red-light-7: lighten($color-red, $multiply-7);
$color-red-light-8: lighten($color-red, $multiply-8);
$color-red-light-9: lighten($color-red, $multiply-9);
$color-red-light-10: lighten($color-red, $multiply-10);
$color-red-light-11: lighten($color-red, $multiply-11);
$color-red-light-12: lighten($color-red, $multiply-12);
$color-red-light-13: lighten($color-red, $multiply-13);
$color-red-light-14: lighten($color-red, $multiply-14);
$color-red-light-15: lighten($color-red, $multiply-15);
$color-red-light-16: lighten($color-red, $multiply-16);
$color-red-light-17: lighten($color-red, $multiply-17);
$color-red-light-18: lighten($color-red, $multiply-18);
$color-red-light-19: lighten($color-red, $multiply-19);
$color-red-light-20: lighten($color-red, $multiply-20);
$color-red-dark-1: darken($color-red, $multiply-1);
$color-red-dark-2: darken($color-red, $multiply-2);
$color-red-dark-3: darken($color-red, $multiply-3);
$color-red-dark-4: darken($color-red, $multiply-4);
$color-red-dark-5: darken($color-red, $multiply-5);
$color-red-dark-6: darken($color-red, $multiply-6);
$color-red-dark-7: darken($color-red, $multiply-7);
$color-red-dark-8: darken($color-red, $multiply-8);
$color-red-dark-9: darken($color-red, $multiply-9);
$color-red-dark-10: darken($color-red, $multiply-10);
$color-red-dark-11: darken($color-red, $multiply-11);
$color-red-dark-12: darken($color-red, $multiply-12);
$color-red-dark-13: darken($color-red, $multiply-13);
$color-red-dark-14: darken($color-red, $multiply-14);
$color-red-dark-15: darken($color-red, $multiply-15);
$color-red-dark-16: darken($color-red, $multiply-16);
$color-red-dark-17: darken($color-red, $multiply-17);
$color-red-dark-18: darken($color-red, $multiply-18);
$color-red-dark-19: darken($color-red, $multiply-19);
$color-red-dark-20: darken($color-red, $multiply-20);

$color-yellow-light-1: lighten($color-yellow, $multiply-1);
$color-yellow-light-2: lighten($color-yellow, $multiply-2);
$color-yellow-light-3: lighten($color-yellow, $multiply-3);
$color-yellow-light-4: lighten($color-yellow, $multiply-4);
$color-yellow-light-5: lighten($color-yellow, $multiply-5);
$color-yellow-light-6: lighten($color-yellow, $multiply-6);
$color-yellow-light-7: lighten($color-yellow, $multiply-7);
$color-yellow-light-8: lighten($color-yellow, $multiply-8);
$color-yellow-light-9: lighten($color-yellow, $multiply-9);
$color-yellow-light-10: lighten($color-yellow, $multiply-10);
$color-yellow-light-11: lighten($color-yellow, $multiply-11);
$color-yellow-light-12: lighten($color-yellow, $multiply-12);
$color-yellow-light-13: lighten($color-yellow, $multiply-13);
$color-yellow-light-14: lighten($color-yellow, $multiply-14);
$color-yellow-light-15: lighten($color-yellow, $multiply-15);
$color-yellow-light-16: lighten($color-yellow, $multiply-16);
$color-yellow-light-17: lighten($color-yellow, $multiply-17);
$color-yellow-light-18: lighten($color-yellow, $multiply-18);
$color-yellow-light-19: lighten($color-yellow, $multiply-19);
$color-yellow-light-20: lighten($color-yellow, $multiply-20);
$color-yellow-dark-1: darken($color-yellow, $multiply-1);
$color-yellow-dark-2: darken($color-yellow, $multiply-2);
$color-yellow-dark-3: darken($color-yellow, $multiply-3);
$color-yellow-dark-4: darken($color-yellow, $multiply-4);
$color-yellow-dark-5: darken($color-yellow, $multiply-5);
$color-yellow-dark-6: darken($color-yellow, $multiply-6);
$color-yellow-dark-7: darken($color-yellow, $multiply-7);
$color-yellow-dark-8: darken($color-yellow, $multiply-8);
$color-yellow-dark-9: darken($color-yellow, $multiply-9);
$color-yellow-dark-10: darken($color-yellow, $multiply-10);
$color-yellow-dark-11: darken($color-yellow, $multiply-11);
$color-yellow-dark-12: darken($color-yellow, $multiply-12);
$color-yellow-dark-13: darken($color-yellow, $multiply-13);
$color-yellow-dark-14: darken($color-yellow, $multiply-14);
$color-yellow-dark-15: darken($color-yellow, $multiply-15);
$color-yellow-dark-16: darken($color-yellow, $multiply-16);
$color-yellow-dark-17: darken($color-yellow, $multiply-17);
$color-yellow-dark-18: darken($color-yellow, $multiply-18);
$color-yellow-dark-19: darken($color-yellow, $multiply-19);
$color-yellow-dark-20: darken($color-yellow, $multiply-20);

$color-purple-light-1: lighten($color-purple, $multiply-1);
$color-purple-light-2: lighten($color-purple, $multiply-2);
$color-purple-light-3: lighten($color-purple, $multiply-3);
$color-purple-light-4: lighten($color-purple, $multiply-4);
$color-purple-light-5: lighten($color-purple, $multiply-5);
$color-purple-light-6: lighten($color-purple, $multiply-6);
$color-purple-light-7: lighten($color-purple, $multiply-7);
$color-purple-light-8: lighten($color-purple, $multiply-8);
$color-purple-light-9: lighten($color-purple, $multiply-9);
$color-purple-light-10: lighten($color-purple, $multiply-10);
$color-purple-light-11: lighten($color-purple, $multiply-11);
$color-purple-light-12: lighten($color-purple, $multiply-12);
$color-purple-light-13: lighten($color-purple, $multiply-13);
$color-purple-light-14: lighten($color-purple, $multiply-14);
$color-purple-light-15: lighten($color-purple, $multiply-15);
$color-purple-light-16: lighten($color-purple, $multiply-16);
$color-purple-light-17: lighten($color-purple, $multiply-17);
$color-purple-light-18: lighten($color-purple, $multiply-18);
$color-purple-light-19: lighten($color-purple, $multiply-19);
$color-purple-light-20: lighten($color-purple, $multiply-20);
$color-purple-dark-1: darken($color-purple, $multiply-1);
$color-purple-dark-2: darken($color-purple, $multiply-2);
$color-purple-dark-3: darken($color-purple, $multiply-3);
$color-purple-dark-4: darken($color-purple, $multiply-4);
$color-purple-dark-5: darken($color-purple, $multiply-5);
$color-purple-dark-6: darken($color-purple, $multiply-6);
$color-purple-dark-7: darken($color-purple, $multiply-7);
$color-purple-dark-8: darken($color-purple, $multiply-8);
$color-purple-dark-9: darken($color-purple, $multiply-9);
$color-purple-dark-10: darken($color-purple, $multiply-10);
$color-purple-dark-11: darken($color-purple, $multiply-11);
$color-purple-dark-12: darken($color-purple, $multiply-12);
$color-purple-dark-13: darken($color-purple, $multiply-13);
$color-purple-dark-14: darken($color-purple, $multiply-14);
$color-purple-dark-15: darken($color-purple, $multiply-15);
$color-purple-dark-16: darken($color-purple, $multiply-16);
$color-purple-dark-17: darken($color-purple, $multiply-17);
$color-purple-dark-18: darken($color-purple, $multiply-18);
$color-purple-dark-19: darken($color-purple, $multiply-19);
$color-purple-dark-20: darken($color-purple, $multiply-20);

$color-brown-light-1: lighten($color-brown, $multiply-1);
$color-brown-light-2: lighten($color-brown, $multiply-2);
$color-brown-light-3: lighten($color-brown, $multiply-3);
$color-brown-light-4: lighten($color-brown, $multiply-4);
$color-brown-light-5: lighten($color-brown, $multiply-5);
$color-brown-light-6: lighten($color-brown, $multiply-6);
$color-brown-light-7: lighten($color-brown, $multiply-7);
$color-brown-light-8: lighten($color-brown, $multiply-8);
$color-brown-light-9: lighten($color-brown, $multiply-9);
$color-brown-light-10: lighten($color-brown, $multiply-10);
$color-brown-light-11: lighten($color-brown, $multiply-11);
$color-brown-light-12: lighten($color-brown, $multiply-12);
$color-brown-light-13: lighten($color-brown, $multiply-13);
$color-brown-light-14: lighten($color-brown, $multiply-14);
$color-brown-light-15: lighten($color-brown, $multiply-15);
$color-brown-light-16: lighten($color-brown, $multiply-16);
$color-brown-light-17: lighten($color-brown, $multiply-17);
$color-brown-light-18: lighten($color-brown, $multiply-18);
$color-brown-light-19: lighten($color-brown, $multiply-19);
$color-brown-light-20: lighten($color-brown, $multiply-20);
$color-brown-dark-1: darken($color-brown, $multiply-1);
$color-brown-dark-2: darken($color-brown, $multiply-2);
$color-brown-dark-3: darken($color-brown, $multiply-3);
$color-brown-dark-4: darken($color-brown, $multiply-4);
$color-brown-dark-5: darken($color-brown, $multiply-5);
$color-brown-dark-6: darken($color-brown, $multiply-6);
$color-brown-dark-7: darken($color-brown, $multiply-7);
$color-brown-dark-8: darken($color-brown, $multiply-8);
$color-brown-dark-9: darken($color-brown, $multiply-9);
$color-brown-dark-10: darken($color-brown, $multiply-10);
$color-brown-dark-11: darken($color-brown, $multiply-11);
$color-brown-dark-12: darken($color-brown, $multiply-12);
$color-brown-dark-13: darken($color-brown, $multiply-13);
$color-brown-dark-14: darken($color-brown, $multiply-14);
$color-brown-dark-15: darken($color-brown, $multiply-15);
$color-brown-dark-16: darken($color-brown, $multiply-16);
$color-brown-dark-17: darken($color-brown, $multiply-17);
$color-brown-dark-18: darken($color-brown, $multiply-18);
$color-brown-dark-19: darken($color-brown, $multiply-19);
$color-brown-dark-20: darken($color-brown, $multiply-20);

$color-pink-light-1: lighten($color-pink, $multiply-1);
$color-pink-light-2: lighten($color-pink, $multiply-2);
$color-pink-light-3: lighten($color-pink, $multiply-3);
$color-pink-light-4: lighten($color-pink, $multiply-4);
$color-pink-light-5: lighten($color-pink, $multiply-5);
$color-pink-light-6: lighten($color-pink, $multiply-6);
$color-pink-light-7: lighten($color-pink, $multiply-7);
$color-pink-light-8: lighten($color-pink, $multiply-8);
$color-pink-light-9: lighten($color-pink, $multiply-9);
$color-pink-light-10: lighten($color-pink, $multiply-10);
$color-pink-light-11: lighten($color-pink, $multiply-11);
$color-pink-light-12: lighten($color-pink, $multiply-12);
$color-pink-light-13: lighten($color-pink, $multiply-13);
$color-pink-light-14: lighten($color-pink, $multiply-14);
$color-pink-light-15: lighten($color-pink, $multiply-15);
$color-pink-light-16: lighten($color-pink, $multiply-16);
$color-pink-light-17: lighten($color-pink, $multiply-17);
$color-pink-light-18: lighten($color-pink, $multiply-18);
$color-pink-light-19: lighten($color-pink, $multiply-19);
$color-pink-light-20: lighten($color-pink, $multiply-20);
$color-pink-dark-1: darken($color-pink, $multiply-1);
$color-pink-dark-2: darken($color-pink, $multiply-2);
$color-pink-dark-3: darken($color-pink, $multiply-3);
$color-pink-dark-4: darken($color-pink, $multiply-4);
$color-pink-dark-5: darken($color-pink, $multiply-5);
$color-pink-dark-6: darken($color-pink, $multiply-6);
$color-pink-dark-7: darken($color-pink, $multiply-7);
$color-pink-dark-8: darken($color-pink, $multiply-8);
$color-pink-dark-9: darken($color-pink, $multiply-9);
$color-pink-dark-10: darken($color-pink, $multiply-10);
$color-pink-dark-11: darken($color-pink, $multiply-11);
$color-pink-dark-12: darken($color-pink, $multiply-12);
$color-pink-dark-13: darken($color-pink, $multiply-13);
$color-pink-dark-14: darken($color-pink, $multiply-14);
$color-pink-dark-15: darken($color-pink, $multiply-15);
$color-pink-dark-16: darken($color-pink, $multiply-16);
$color-pink-dark-17: darken($color-pink, $multiply-17);
$color-pink-dark-18: darken($color-pink, $multiply-18);
$color-pink-dark-19: darken($color-pink, $multiply-19);
$color-pink-dark-20: darken($color-pink, $multiply-20);

$color-black-light-1: lighten($color-black, $multiply-1);
$color-black-light-2: lighten($color-black, $multiply-2);
$color-black-light-3: lighten($color-black, $multiply-3);
$color-black-light-4: lighten($color-black, $multiply-4);
$color-black-light-5: lighten($color-black, $multiply-5);
$color-black-light-6: lighten($color-black, $multiply-6);
$color-black-light-7: lighten($color-black, $multiply-7);
$color-black-light-8: lighten($color-black, $multiply-8);
$color-black-light-9: lighten($color-black, $multiply-9);
$color-black-light-10: lighten($color-black, $multiply-10);
$color-black-light-11: lighten($color-black, $multiply-11);
$color-black-light-12: lighten($color-black, $multiply-12);
$color-black-light-13: lighten($color-black, $multiply-13);
$color-black-light-14: lighten($color-black, $multiply-14);
$color-black-light-15: lighten($color-black, $multiply-15);
$color-black-light-16: lighten($color-black, $multiply-16);
$color-black-light-17: lighten($color-black, $multiply-17);
$color-black-light-18: lighten($color-black, $multiply-18);
$color-black-light-19: lighten($color-black, $multiply-19);
$color-black-light-20: lighten($color-black, $multiply-20);
$color-black-dark-1: darken($color-black, $multiply-1);
$color-black-dark-2: darken($color-black, $multiply-2);
$color-black-dark-3: darken($color-black, $multiply-3);
$color-black-dark-4: darken($color-black, $multiply-4);
$color-black-dark-5: darken($color-black, $multiply-5);
$color-black-dark-6: darken($color-black, $multiply-6);
$color-black-dark-7: darken($color-black, $multiply-7);
$color-black-dark-8: darken($color-black, $multiply-8);
$color-black-dark-9: darken($color-black, $multiply-9);
$color-black-dark-10: darken($color-black, $multiply-10);
$color-black-dark-11: darken($color-black, $multiply-11);
$color-black-dark-12: darken($color-black, $multiply-12);
$color-black-dark-13: darken($color-black, $multiply-13);
$color-black-dark-14: darken($color-black, $multiply-14);
$color-black-dark-15: darken($color-black, $multiply-15);
$color-black-dark-16: darken($color-black, $multiply-16);
$color-black-dark-17: darken($color-black, $multiply-17);
$color-black-dark-18: darken($color-black, $multiply-18);
$color-black-dark-19: darken($color-black, $multiply-19);
$color-black-dark-20: darken($color-black, $multiply-20);

$color-white-light-1: lighten($color-white, $multiply-1);
$color-white-light-2: lighten($color-white, $multiply-2);
$color-white-light-3: lighten($color-white, $multiply-3);
$color-white-light-4: lighten($color-white, $multiply-4);
$color-white-light-5: lighten($color-white, $multiply-5);
$color-white-light-6: lighten($color-white, $multiply-6);
$color-white-light-7: lighten($color-white, $multiply-7);
$color-white-light-8: lighten($color-white, $multiply-8);
$color-white-light-9: lighten($color-white, $multiply-9);
$color-white-light-10: lighten($color-white, $multiply-10);
$color-white-light-11: lighten($color-white, $multiply-11);
$color-white-light-12: lighten($color-white, $multiply-12);
$color-white-light-13: lighten($color-white, $multiply-13);
$color-white-light-14: lighten($color-white, $multiply-14);
$color-white-light-15: lighten($color-white, $multiply-15);
$color-white-light-16: lighten($color-white, $multiply-16);
$color-white-light-17: lighten($color-white, $multiply-17);
$color-white-light-18: lighten($color-white, $multiply-18);
$color-white-light-19: lighten($color-white, $multiply-19);
$color-white-light-20: lighten($color-white, $multiply-20);
$color-white-dark-1: darken($color-white, $multiply-1);
$color-white-dark-2: darken($color-white, $multiply-2);
$color-white-dark-3: darken($color-white, $multiply-3);
$color-white-dark-4: darken($color-white, $multiply-4);
$color-white-dark-5: darken($color-white, $multiply-5);
$color-white-dark-6: darken($color-white, $multiply-6);
$color-white-dark-7: darken($color-white, $multiply-7);
$color-white-dark-8: darken($color-white, $multiply-8);
$color-white-dark-9: darken($color-white, $multiply-9);
$color-white-dark-10: darken($color-white, $multiply-10);
$color-white-dark-11: darken($color-white, $multiply-11);
$color-white-dark-12: darken($color-white, $multiply-12);
$color-white-dark-13: darken($color-white, $multiply-13);
$color-white-dark-14: darken($color-white, $multiply-14);
$color-white-dark-15: darken($color-white, $multiply-15);
$color-white-dark-16: darken($color-white, $multiply-16);
$color-white-dark-17: darken($color-white, $multiply-17);
$color-white-dark-18: darken($color-white, $multiply-18);
$color-white-dark-19: darken($color-white, $multiply-19);
$color-white-dark-20: darken($color-white, $multiply-20);

/* ------------------------------------------------------------------ SOCIAL */

$color-facebook-light-1: lighten($color-facebook, $multiply-1);
$color-facebook-light-2: lighten($color-facebook, $multiply-2);
$color-facebook-light-3: lighten($color-facebook, $multiply-3);
$color-facebook-light-4: lighten($color-facebook, $multiply-4);
$color-facebook-light-5: lighten($color-facebook, $multiply-5);
$color-facebook-light-6: lighten($color-facebook, $multiply-6);
$color-facebook-light-7: lighten($color-facebook, $multiply-7);
$color-facebook-light-8: lighten($color-facebook, $multiply-8);
$color-facebook-light-9: lighten($color-facebook, $multiply-9);
$color-facebook-light-10: lighten($color-facebook, $multiply-10);
$color-facebook-light-11: lighten($color-facebook, $multiply-11);
$color-facebook-light-12: lighten($color-facebook, $multiply-12);
$color-facebook-light-13: lighten($color-facebook, $multiply-13);
$color-facebook-light-14: lighten($color-facebook, $multiply-14);
$color-facebook-light-15: lighten($color-facebook, $multiply-15);
$color-facebook-light-16: lighten($color-facebook, $multiply-16);
$color-facebook-light-17: lighten($color-facebook, $multiply-17);
$color-facebook-light-18: lighten($color-facebook, $multiply-18);
$color-facebook-light-19: lighten($color-facebook, $multiply-19);
$color-facebook-light-20: lighten($color-facebook, $multiply-20);
$color-facebook-dark-1: darken($color-facebook, $multiply-1);
$color-facebook-dark-2: darken($color-facebook, $multiply-2);
$color-facebook-dark-3: darken($color-facebook, $multiply-3);
$color-facebook-dark-4: darken($color-facebook, $multiply-4);
$color-facebook-dark-5: darken($color-facebook, $multiply-5);
$color-facebook-dark-6: darken($color-facebook, $multiply-6);
$color-facebook-dark-7: darken($color-facebook, $multiply-7);
$color-facebook-dark-8: darken($color-facebook, $multiply-8);
$color-facebook-dark-9: darken($color-facebook, $multiply-9);
$color-facebook-dark-10: darken($color-facebook, $multiply-10);
$color-facebook-dark-11: darken($color-facebook, $multiply-11);
$color-facebook-dark-12: darken($color-facebook, $multiply-12);
$color-facebook-dark-13: darken($color-facebook, $multiply-13);
$color-facebook-dark-14: darken($color-facebook, $multiply-14);
$color-facebook-dark-15: darken($color-facebook, $multiply-15);
$color-facebook-dark-16: darken($color-facebook, $multiply-16);
$color-facebook-dark-17: darken($color-facebook, $multiply-17);
$color-facebook-dark-18: darken($color-facebook, $multiply-18);
$color-facebook-dark-19: darken($color-facebook, $multiply-19);
$color-facebook-dark-20: darken($color-facebook, $multiply-20);

$color-twitter-light-1: lighten($color-twitter, $multiply-1);
$color-twitter-light-2: lighten($color-twitter, $multiply-2);
$color-twitter-light-3: lighten($color-twitter, $multiply-3);
$color-twitter-light-4: lighten($color-twitter, $multiply-4);
$color-twitter-light-5: lighten($color-twitter, $multiply-5);
$color-twitter-light-6: lighten($color-twitter, $multiply-6);
$color-twitter-light-7: lighten($color-twitter, $multiply-7);
$color-twitter-light-8: lighten($color-twitter, $multiply-8);
$color-twitter-light-9: lighten($color-twitter, $multiply-9);
$color-twitter-light-10: lighten($color-twitter, $multiply-10);
$color-twitter-light-11: lighten($color-twitter, $multiply-11);
$color-twitter-light-12: lighten($color-twitter, $multiply-12);
$color-twitter-light-13: lighten($color-twitter, $multiply-13);
$color-twitter-light-14: lighten($color-twitter, $multiply-14);
$color-twitter-light-15: lighten($color-twitter, $multiply-15);
$color-twitter-light-16: lighten($color-twitter, $multiply-16);
$color-twitter-light-17: lighten($color-twitter, $multiply-17);
$color-twitter-light-18: lighten($color-twitter, $multiply-18);
$color-twitter-light-19: lighten($color-twitter, $multiply-19);
$color-twitter-light-20: lighten($color-twitter, $multiply-20);
$color-twitter-dark-1: darken($color-twitter, $multiply-1);
$color-twitter-dark-2: darken($color-twitter, $multiply-2);
$color-twitter-dark-3: darken($color-twitter, $multiply-3);
$color-twitter-dark-4: darken($color-twitter, $multiply-4);
$color-twitter-dark-5: darken($color-twitter, $multiply-5);
$color-twitter-dark-6: darken($color-twitter, $multiply-6);
$color-twitter-dark-7: darken($color-twitter, $multiply-7);
$color-twitter-dark-8: darken($color-twitter, $multiply-8);
$color-twitter-dark-9: darken($color-twitter, $multiply-9);
$color-twitter-dark-10: darken($color-twitter, $multiply-10);
$color-twitter-dark-11: darken($color-twitter, $multiply-11);
$color-twitter-dark-12: darken($color-twitter, $multiply-12);
$color-twitter-dark-13: darken($color-twitter, $multiply-13);
$color-twitter-dark-14: darken($color-twitter, $multiply-14);
$color-twitter-dark-15: darken($color-twitter, $multiply-15);
$color-twitter-dark-16: darken($color-twitter, $multiply-16);
$color-twitter-dark-17: darken($color-twitter, $multiply-17);
$color-twitter-dark-18: darken($color-twitter, $multiply-18);
$color-twitter-dark-19: darken($color-twitter, $multiply-19);
$color-twitter-dark-20: darken($color-twitter, $multiply-20);

$color-youtube-light-1: lighten($color-youtube, $multiply-1);
$color-youtube-light-2: lighten($color-youtube, $multiply-2);
$color-youtube-light-3: lighten($color-youtube, $multiply-3);
$color-youtube-light-4: lighten($color-youtube, $multiply-4);
$color-youtube-light-5: lighten($color-youtube, $multiply-5);
$color-youtube-light-6: lighten($color-youtube, $multiply-6);
$color-youtube-light-7: lighten($color-youtube, $multiply-7);
$color-youtube-light-8: lighten($color-youtube, $multiply-8);
$color-youtube-light-9: lighten($color-youtube, $multiply-9);
$color-youtube-light-10: lighten($color-youtube, $multiply-10);
$color-youtube-light-11: lighten($color-youtube, $multiply-11);
$color-youtube-light-12: lighten($color-youtube, $multiply-12);
$color-youtube-light-13: lighten($color-youtube, $multiply-13);
$color-youtube-light-14: lighten($color-youtube, $multiply-14);
$color-youtube-light-15: lighten($color-youtube, $multiply-15);
$color-youtube-light-16: lighten($color-youtube, $multiply-16);
$color-youtube-light-17: lighten($color-youtube, $multiply-17);
$color-youtube-light-18: lighten($color-youtube, $multiply-18);
$color-youtube-light-19: lighten($color-youtube, $multiply-19);
$color-youtube-light-20: lighten($color-youtube, $multiply-20);
$color-youtube-dark-1: darken($color-youtube, $multiply-1);
$color-youtube-dark-2: darken($color-youtube, $multiply-2);
$color-youtube-dark-3: darken($color-youtube, $multiply-3);
$color-youtube-dark-4: darken($color-youtube, $multiply-4);
$color-youtube-dark-5: darken($color-youtube, $multiply-5);
$color-youtube-dark-6: darken($color-youtube, $multiply-6);
$color-youtube-dark-7: darken($color-youtube, $multiply-7);
$color-youtube-dark-8: darken($color-youtube, $multiply-8);
$color-youtube-dark-9: darken($color-youtube, $multiply-9);
$color-youtube-dark-10: darken($color-youtube, $multiply-10);
$color-youtube-dark-11: darken($color-youtube, $multiply-11);
$color-youtube-dark-12: darken($color-youtube, $multiply-12);
$color-youtube-dark-13: darken($color-youtube, $multiply-13);
$color-youtube-dark-14: darken($color-youtube, $multiply-14);
$color-youtube-dark-15: darken($color-youtube, $multiply-15);
$color-youtube-dark-16: darken($color-youtube, $multiply-16);
$color-youtube-dark-17: darken($color-youtube, $multiply-17);
$color-youtube-dark-18: darken($color-youtube, $multiply-18);
$color-youtube-dark-19: darken($color-youtube, $multiply-19);
$color-youtube-dark-20: darken($color-youtube, $multiply-20);

$color-linkedin-light-1: lighten($color-linkedin, $multiply-1);
$color-linkedin-light-2: lighten($color-linkedin, $multiply-2);
$color-linkedin-light-3: lighten($color-linkedin, $multiply-3);
$color-linkedin-light-4: lighten($color-linkedin, $multiply-4);
$color-linkedin-light-5: lighten($color-linkedin, $multiply-5);
$color-linkedin-light-6: lighten($color-linkedin, $multiply-6);
$color-linkedin-light-7: lighten($color-linkedin, $multiply-7);
$color-linkedin-light-8: lighten($color-linkedin, $multiply-8);
$color-linkedin-light-9: lighten($color-linkedin, $multiply-9);
$color-linkedin-light-10: lighten($color-linkedin, $multiply-10);
$color-linkedin-light-11: lighten($color-linkedin, $multiply-11);
$color-linkedin-light-12: lighten($color-linkedin, $multiply-12);
$color-linkedin-light-13: lighten($color-linkedin, $multiply-13);
$color-linkedin-light-14: lighten($color-linkedin, $multiply-14);
$color-linkedin-light-15: lighten($color-linkedin, $multiply-15);
$color-linkedin-light-16: lighten($color-linkedin, $multiply-16);
$color-linkedin-light-17: lighten($color-linkedin, $multiply-17);
$color-linkedin-light-18: lighten($color-linkedin, $multiply-18);
$color-linkedin-light-19: lighten($color-linkedin, $multiply-19);
$color-linkedin-light-20: lighten($color-linkedin, $multiply-20);
$color-linkedin-dark-1: darken($color-linkedin, $multiply-1);
$color-linkedin-dark-2: darken($color-linkedin, $multiply-2);
$color-linkedin-dark-3: darken($color-linkedin, $multiply-3);
$color-linkedin-dark-4: darken($color-linkedin, $multiply-4);
$color-linkedin-dark-5: darken($color-linkedin, $multiply-5);
$color-linkedin-dark-6: darken($color-linkedin, $multiply-6);
$color-linkedin-dark-7: darken($color-linkedin, $multiply-7);
$color-linkedin-dark-8: darken($color-linkedin, $multiply-8);
$color-linkedin-dark-9: darken($color-linkedin, $multiply-9);
$color-linkedin-dark-10: darken($color-linkedin, $multiply-10);
$color-linkedin-dark-11: darken($color-linkedin, $multiply-11);
$color-linkedin-dark-12: darken($color-linkedin, $multiply-12);
$color-linkedin-dark-13: darken($color-linkedin, $multiply-13);
$color-linkedin-dark-14: darken($color-linkedin, $multiply-14);
$color-linkedin-dark-15: darken($color-linkedin, $multiply-15);
$color-linkedin-dark-16: darken($color-linkedin, $multiply-16);
$color-linkedin-dark-17: darken($color-linkedin, $multiply-17);
$color-linkedin-dark-18: darken($color-linkedin, $multiply-18);
$color-linkedin-dark-19: darken($color-linkedin, $multiply-19);
$color-linkedin-dark-20: darken($color-linkedin, $multiply-20);

$color-pinterest-light-1: lighten($color-pinterest, $multiply-1);
$color-pinterest-light-2: lighten($color-pinterest, $multiply-2);
$color-pinterest-light-3: lighten($color-pinterest, $multiply-3);
$color-pinterest-light-4: lighten($color-pinterest, $multiply-4);
$color-pinterest-light-5: lighten($color-pinterest, $multiply-5);
$color-pinterest-light-6: lighten($color-pinterest, $multiply-6);
$color-pinterest-light-7: lighten($color-pinterest, $multiply-7);
$color-pinterest-light-8: lighten($color-pinterest, $multiply-8);
$color-pinterest-light-9: lighten($color-pinterest, $multiply-9);
$color-pinterest-light-10: lighten($color-pinterest, $multiply-10);
$color-pinterest-light-11: lighten($color-pinterest, $multiply-11);
$color-pinterest-light-12: lighten($color-pinterest, $multiply-12);
$color-pinterest-light-13: lighten($color-pinterest, $multiply-13);
$color-pinterest-light-14: lighten($color-pinterest, $multiply-14);
$color-pinterest-light-15: lighten($color-pinterest, $multiply-15);
$color-pinterest-light-16: lighten($color-pinterest, $multiply-16);
$color-pinterest-light-17: lighten($color-pinterest, $multiply-17);
$color-pinterest-light-18: lighten($color-pinterest, $multiply-18);
$color-pinterest-light-19: lighten($color-pinterest, $multiply-19);
$color-pinterest-light-20: lighten($color-pinterest, $multiply-20);
$color-pinterest-dark-1: darken($color-pinterest, $multiply-1);
$color-pinterest-dark-2: darken($color-pinterest, $multiply-2);
$color-pinterest-dark-3: darken($color-pinterest, $multiply-3);
$color-pinterest-dark-4: darken($color-pinterest, $multiply-4);
$color-pinterest-dark-5: darken($color-pinterest, $multiply-5);
$color-pinterest-dark-6: darken($color-pinterest, $multiply-6);
$color-pinterest-dark-7: darken($color-pinterest, $multiply-7);
$color-pinterest-dark-8: darken($color-pinterest, $multiply-8);
$color-pinterest-dark-9: darken($color-pinterest, $multiply-9);
$color-pinterest-dark-10: darken($color-pinterest, $multiply-10);
$color-pinterest-dark-11: darken($color-pinterest, $multiply-11);
$color-pinterest-dark-12: darken($color-pinterest, $multiply-12);
$color-pinterest-dark-13: darken($color-pinterest, $multiply-13);
$color-pinterest-dark-14: darken($color-pinterest, $multiply-14);
$color-pinterest-dark-15: darken($color-pinterest, $multiply-15);
$color-pinterest-dark-16: darken($color-pinterest, $multiply-16);
$color-pinterest-dark-17: darken($color-pinterest, $multiply-17);
$color-pinterest-dark-18: darken($color-pinterest, $multiply-18);
$color-pinterest-dark-19: darken($color-pinterest, $multiply-19);
$color-pinterest-dark-20: darken($color-pinterest, $multiply-20);

$color-instagram-light-1: lighten($color-instagram, $multiply-1);
$color-instagram-light-2: lighten($color-instagram, $multiply-2);
$color-instagram-light-3: lighten($color-instagram, $multiply-3);
$color-instagram-light-4: lighten($color-instagram, $multiply-4);
$color-instagram-light-5: lighten($color-instagram, $multiply-5);
$color-instagram-light-6: lighten($color-instagram, $multiply-6);
$color-instagram-light-7: lighten($color-instagram, $multiply-7);
$color-instagram-light-8: lighten($color-instagram, $multiply-8);
$color-instagram-light-9: lighten($color-instagram, $multiply-9);
$color-instagram-light-10: lighten($color-instagram, $multiply-10);
$color-instagram-light-11: lighten($color-instagram, $multiply-11);
$color-instagram-light-12: lighten($color-instagram, $multiply-12);
$color-instagram-light-13: lighten($color-instagram, $multiply-13);
$color-instagram-light-14: lighten($color-instagram, $multiply-14);
$color-instagram-light-15: lighten($color-instagram, $multiply-15);
$color-instagram-light-16: lighten($color-instagram, $multiply-16);
$color-instagram-light-17: lighten($color-instagram, $multiply-17);
$color-instagram-light-18: lighten($color-instagram, $multiply-18);
$color-instagram-light-19: lighten($color-instagram, $multiply-19);
$color-instagram-light-20: lighten($color-instagram, $multiply-20);
$color-instagram-dark-1: darken($color-instagram, $multiply-1);
$color-instagram-dark-2: darken($color-instagram, $multiply-2);
$color-instagram-dark-3: darken($color-instagram, $multiply-3);
$color-instagram-dark-4: darken($color-instagram, $multiply-4);
$color-instagram-dark-5: darken($color-instagram, $multiply-5);
$color-instagram-dark-6: darken($color-instagram, $multiply-6);
$color-instagram-dark-7: darken($color-instagram, $multiply-7);
$color-instagram-dark-8: darken($color-instagram, $multiply-8);
$color-instagram-dark-9: darken($color-instagram, $multiply-9);
$color-instagram-dark-10: darken($color-instagram, $multiply-10);
$color-instagram-dark-11: darken($color-instagram, $multiply-11);
$color-instagram-dark-12: darken($color-instagram, $multiply-12);
$color-instagram-dark-13: darken($color-instagram, $multiply-13);
$color-instagram-dark-14: darken($color-instagram, $multiply-14);
$color-instagram-dark-15: darken($color-instagram, $multiply-15);
$color-instagram-dark-16: darken($color-instagram, $multiply-16);
$color-instagram-dark-17: darken($color-instagram, $multiply-17);
$color-instagram-dark-18: darken($color-instagram, $multiply-18);
$color-instagram-dark-19: darken($color-instagram, $multiply-19);
$color-instagram-dark-20: darken($color-instagram, $multiply-20);

$arr-color-extra-light: ("grey": $color-grey-light-4,
    "blue": $color-blue-light-8,
    "green": $color-green-light-9,
    "cyan": $color-cyan-light-9,
    "orange": $color-orange-light-8,
    "red": $color-red-light-7,
    "yellow": $color-yellow-light-9,
    "purple": $color-purple-light-8,
    "brown": $color-brown-light-14,
    "pink": $color-pink-light-9,
    "black": $color-black-light-15,
    "white": $color-white);

$arr-color-extra-light-border: ("grey": $color-grey-light-2,
    "blue": $color-blue-light-7,
    "green": $color-green-light-7,
    "cyan": $color-cyan-light-7,
    "orange": $color-orange-light-7,
    "red": $color-red-light-6,
    "yellow": $color-yellow-light-6,
    "purple": $color-purple-light-7,
    "brown": $color-brown-light-12,
    "pink": $color-pink-light-8,
    "black": $color-black-light-13,
    "white": $color-white-dark-2);

$arr-color-light: ("grey": $color-grey-light-3,
    "blue": $color-blue-light-7,
    "green": $color-green-light-7,
    "cyan": $color-cyan-light-7,
    "orange": $color-orange-light-7,
    "red": $color-red-light-7,
    "yellow": $color-yellow-light-7,
    "purple": $color-purple-light-7,
    "brown": $color-brown-light-10,
    "pink": $color-pink-light-8,
    "black": $color-black-light-12,
    "white": $color-white);

$arr-color-light-border: ("grey": $color-grey-light-2,
    "blue": $color-blue-light-5,
    "green": $color-green-light-3,
    "cyan": $color-cyan-light-2,
    "orange": $color-orange-light-5,
    "red": $color-red-light-6,
    "yellow": $color-yellow-light-3,
    "purple": $color-purple-light-5,
    "brown": $color-brown-light-7,
    "pink": $color-pink-light-7,
    "black": $color-black-light-10,
    "white": $color-white-light-4);

$arr-color-regular: ("grey": $color-grey,
    "blue": $color-blue,
    "green": $color-green,
    "cyan": $color-cyan,
    "orange": $color-orange,
    "red": $color-red,
    "yellow": $color-yellow,
    "purple": $color-purple,
    "brown": $color-brown,
    "pink": $color-pink,
    "black": $color-black,
    "white": $color-white);

$arr-color-regular-border: ("grey": $color-grey-dark-1,
    "blue": $color-blue-dark-1,
    "green": $color-green-dark-1,
    "cyan": $color-cyan-dark-1,
    "orange": $color-orange-dark-1,
    "red": $color-red-dark-1,
    "yellow": $color-yellow-dark-1,
    "purple": $color-purple-dark-1,
    "brown": $color-brown-dark-1,
    "pink": $color-pink-dark-1,
    "black": $color-black-dark-1,
    "white": $color-white-dark-1);

$arr-color-regular-invalid: ("grey": $color-red,
    "blue": $color-red,
    "green": $color-red,
    "cyan": $color-red,
    "orange": $color-red,
    "red": $color-red-dark-2,
    "yellow": $color-red,
    "purple": $color-red,
    "brown": $color-red,
    "pink": $color-red,
    "black": $color-red,
    "white": $color-red);

$arr-color-regular-contrast: ("grey": $color-black,
    "blue": $color-white,
    "green": $color-white,
    "cyan": $color-white,
    "orange": $color-white,
    "red": $color-white,
    "yellow": $color-white,
    "purple": $color-white,
    "brown": $color-white,
    "pink": $color-white,
    "black": $color-white,
    "white": $color-black);

$arr-color-dark: ("grey": $color-grey-dark-5,
    "blue": $color-blue-dark-3,
    "green": $color-green-dark-3,
    "cyan": $color-cyan-dark-3,
    "orange": $color-orange-dark-3,
    "red": $color-red-dark-3,
    "yellow": $color-yellow-dark-3,
    "purple": $color-purple-dark-3,
    "brown": $color-brown-dark-2,
    "pink": $color-pink-dark-3,
    "black": $color-black-dark-3,
    "white": $color-white-dark-3);