$extra-small: 2px;
$small: 5px;
$regular: 10px;
$big: $regular * 2;
$extra-big: $big * 2;
$extra-big-2: $extra-big * 2;

$border-radius-extra-small: 2px;
$border-radius-small: $border-radius-extra-small;
$border-radius-regular: 4px;
$border-radius-big: 6px;
$border-radius-extra-big: 8px;

$border-width: 1px;