<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=5,user-scalable=yes,width=device-width">
    <meta name="description" content="Open Source Adventure Game" />
    <meta name="author" content="Open Source Adventure" />
    <meta name="keywords" content="game, open source, github, html, css, javascript" />
    <title>Game</title>

    <link href="./assets/css/style.css" rel="stylesheet">
    <script src='./assets/js/script.js'></script>
</head>

<body>
    <main class="game-wrapper">
        {% include "game.html" %}
    </main>
</body>

</html>
