<div class="game">
    <div class="interface">
        <div class="interface__bar">
            {% set arr = [
                    ['life'],
                    ['hunger'],
                    ['thirst']
                ] %}
            {% for item in arr %}
            <progress value="0" max="0" data-id="bar-{{item}}"></progress>
            {% endfor %}
        </div>
        <div class="interface__action">
            {% set arr = [
                    ['backpack'],
                    ['craft'],
                    ['catch'],
                    ['hit']
                ] %}
            {% for item in arr %}
            <button type="button" class="button" data-id="action-{{item}}">
                {{item}}
            </button>
            {% endfor %}
        </div>
        <div class="interface__directional">
            {% set arr = [
                ['up'],
                ['left'],
                ['right'],
                ['down']
            ] %}
            {% for item in arr %}
            <button type="button" class="button" data-id="directional-{{item}}">
                {{item}}
            </button>
            {% endfor %}
        </div>
    </div>
    <div class="map">
    </div>
</div>