<div class="modal modal--close">
    <div class="modal__box">
        <header class="modal__header right">
            <button type="button"
                class="button button--small button--small--proportional button--grey button--transparent button--close"
                id="modal_close">
                X
            </button>
        </header>
        <div class="row">
            <div class="modal__content">
                <article id="page_backpack" class="page">
                    {% include "include/page-backpack.html" %}
                </article>
                <article id="page_craft" class="page">
                    {% include "include/page-craft.html" %}
                </article>
            </div>
        </div>
    </div>
</div>