/* ------------------------------------------------------------------ SOCIAL */
audio[controls],
canvas,
video {
  display: inline-block;
  zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

hr {
  box-sizing: content-box;
  height: 0; }

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  text-rendering: optimizeLegibility;
  width: 100%; }

* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }
  *:disabled {
    cursor: not-allowed; }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

table,
table td {
  border-collapse: collapse; }

img {
  align-self: start;
  max-width: 100%; }

.column {
  flex-direction: column;
  height: 100%; }

.row {
  flex: 0 1 100%;
  flex-direction: row;
  flex-wrap: wrap; }

.column,
.row {
  display: flex; }

.center {
  align-items: center;
  justify-content: center;
  text-align: center; }

.left {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left; }

.right {
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right; }

.walk--top {
  animation: walk--top 0.4s steps(3) infinite; }

@keyframes walk--top {
  0% {
    background-position: 0px -144px; }
  100% {
    background-position: -144px -144px; } }

.walk--bottom {
  animation: walk--bottom 0.4s steps(3) infinite; }

@keyframes walk--bottom {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: -144px 0px; } }

.walk--right {
  animation: walk--right 0.4s steps(3) infinite; }

@keyframes walk--right {
  0% {
    background-position: 0px -48px; }
  100% {
    background-position: -144px -48px; } }

.walk--left {
  animation: walk--left 0.4s steps(3) infinite; }

@keyframes walk--left {
  0% {
    background-position: 0px -96px; }
  100% {
    background-position: -144px -96px; } }

.stand--top {
  animation: stand--top 0.4s steps(3) infinite; }

@keyframes stand--top {
  0% {
    background-position: -48px -144px; }
  100% {
    background-position: -48px -144px; } }

.stand--bottom {
  animation: stand--bottom 0.4s steps(3) infinite; }

@keyframes stand--bottom {
  0% {
    background-position: -48px 0px; }
  100% {
    background-position: -48px 0px; } }

.stand--right {
  animation: stand--right 0.4s steps(3) infinite; }

@keyframes stand--right {
  0% {
    background-position: -48px -48px; }
  100% {
    background-position: -48px -48px; } }

.stand--left {
  animation: stand--left 0.4s steps(3) infinite; }

@keyframes stand--left {
  0% {
    background-position: -48px -96px; }
  100% {
    background-position: -48px -96px; } }

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  left: 0;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s;
  z-index: 6; }
  .modal__header {
    display: flex;
    padding: 10px;
    position: relative;
    width: 100%;
    z-index: 7; }
  .modal__box {
    align-items: center;
    background-color: #ffffff;
    height: 100%;
    justify-content: center;
    margin: auto;
    pointer-events: initial;
    position: relative;
    transition: 0.3s;
    width: 100%; }
  .modal__content {
    padding: 10px;
    position: relative;
    width: 100%; }
  .modal--close {
    opacity: 0 !important;
    pointer-events: none !important;
    transition: 0.3s; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .modal--close {
        position: absolute;
        top: -100% !important; } }
    .modal--close * {
      pointer-events: none !important; }

* {
  font-family: sans-serif;
  font-size: 16px; }

.background {
  align-items: center;
  background-color: #d9d9d9;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%; }

.game-wrapper,
.game {
  display: flex;
  height: 100%;
  max-height: 768px;
  max-width: 1024px;
  width: 100%; }

.game-wrapper {
  overflow: hidden;
  position: relative; }

.game {
  left: 0;
  position: absolute;
  top: 0; }

.hide {
  font-size: 0;
  height: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
  visibility: hidden;
  width: 0; }
  .hide * {
    font-size: 0;
    height: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
    visibility: hidden;
    width: 0; }

.map {
  display: flex;
  flex-wrap: wrap;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1; }

.interface {
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5; }
  .interface__bar, .interface__directional, .interface__action {
    display: flex;
    padding: 10px;
    position: absolute; }
  .interface__bar {
    flex-direction: column;
    left: 0;
    top: 0; }
  .interface__directional {
    bottom: 0;
    flex-direction: column;
    left: 0; }
  .interface__action {
    bottom: 0;
    flex-direction: row;
    right: 0; }

.loading-main {
  align-items: center;
  background-color: #000000;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 8; }
  .loading-main .loading {
    border-radius: 50%;
    color: #cccccc;
    display: inline-block;
    font-size: 20px;
    height: 20px;
    margin: 20px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    width: 20px; }
    .loading-main .loading.animate {
      animation: loading-1 1.3s infinite linear; }

@keyframes loading-1 {
  0%,
  100% {
    box-shadow: 0 -1.5em 0 0.1em, 1em -1em 0 0em, 1.5em 0 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em, -1em 1em 0 -0.5em, -1.5em 0 0 -0.5em, -1em -1em 0 0; }
  12.5% {
    box-shadow: 0 -1.5em 0 0, 1em -1em 0 0.1em, 1.5em 0 0 0, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em, -1em 1em 0 -0.5em, -1.5em 0 0 -0.5em, -1em -1em 0 -0.5em; }
  25% {
    box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 0, 1.5em 0 0 0.1em, 1em 1em 0 0, 0 1.5em 0 -0.5em, -1em 1em 0 -0.5em, -1.5em 0 0 -0.5em, -1em -1em 0 -0.5em; }
  37.5% {
    box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0em 0 0, 1em 1em 0 0.1em, 0 1.5em 0 0em, -1em 1em 0 -0.5em, -1.5em 0em 0 -0.5em, -1em -1em 0 -0.5em; }
  50% {
    box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0 0 -0.5em, 1em 1em 0 0em, 0 1.5em 0 0.1em, -1em 1em 0 0, -1.5em 0em 0 -0.5em, -1em -1em 0 -0.5em; }
  62.5% {
    box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 0, -1em 1em 0 0.1em, -1.5em 0 0 0, -1em -1em 0 -0.5em; }
  75% {
    box-shadow: 0em -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0em 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em, -1em 1em 0 0, -1.5em 0em 0 0.1em, -1em -1em 0 0; }
  87.5% {
    box-shadow: 0em -1.5em 0 0, 1em -1em 0 -0.5em, 1.5em 0 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em, -1em 1em 0 0, -1.5em 0em 0 0, -1em -1em 0 0.1em; } }

.tile {
  display: inline-flex;
  height: 48px;
  position: relative;
  width: 48px; }
  .tile--0 {
    background-color: #485a26; }
  .tile--1 {
    background-color: #647e35; }
  .tile--2 {
    background-color: #80a244; }

.enemy {
  border-radius: 50%;
  font-size: 10px;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 3; }
  .enemy--0 {
    background-color: #34859d; }
  .enemy--1 {
    background-color: #276577; }

.item {
  border-radius: 50%;
  font-size: 10px;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2; }
  .item--0 {
    background-color: #f5edba; }
  .item--1 {
    background-color: #efe18d; }

.player {
  background: url("../img/player/player.png") no-repeat;
  display: inline-flex;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
  z-index: 4; }

.item-wrapper {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  padding: 10px; }
  .item-wrapper .item {
    position: relative; }
  .item-wrapper .input {
    margin-top: 10px;
    padding: 10px;
    text-align: center; }
